body{
    margin: auto;
}
.main{
    margin-left: 2%;
    margin-right: 2%;
}
#search{
    height: 500px;
    width: 100%;
    background-image: url('../Restaurent/images/food-wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 500px;
}
#loginblock{
    text-align: right;
    margin-left: 13%;
    width:80%;
}
#login{
    margin-top: 4%; 
    font-size: 18px;
    font-weight: bold;
    width: 8%;
}
#signup{
    margin-top: 4%; 
    font-size: 18px;
    font-weight: bold;
    width: 15%;
}
.centerlogo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    text-align:center;
    margin-left: 45%;
    animation: moveLogo 20s infinite;
}
.centerlogo > span{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: brown;
    position: absolute;
    margin-left: -1%;
    margin-top: 3%;
}

@keyframes moveLogo {
    0%{margin-left:10%}
    20%{margin-left:20%}
    60%{margin-left:45%}
    80%{margin-left:80%}
    100%{margin-left:45%}
}

#heading{
    font-size:35px;
    font-weight: bold;
    text-align:center;
    color:white;
    margin-top: 8%;
}
#select{
    width:20%;
    height: 40px;
    margin-left: 28%;
    margin-top: 3%;
}
#select1{
    width:25%;
    height: 40px;
    margin-left: 1%;
}
#quicksearch{
    height: 500px;
    width: 100%;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%; 
}
#quickSearchHeading{
    color: #192f60;
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-top: 2%;
}
#quickSearchsubHeading{
    color: gray;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 1%;
}
.mainTileContainer{
    margin-top: 2%; 
    margin-left: 2%;
}
.tileComponentHeading{
    height: 160px;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    display: inline-block; 
    box-shadow:15px 14px 8px gray;
}
.tileComponentHeading:hover{
    transform: scale(1.1);
    /* transform: rotate(180deg); */
    /* transform: skewY(20deg); */
    /* transform:translate(10px,20px) */
}
.tileComponent1{
    width:50%;
    float:left;
}
.tileComponent1 > img{
    height:160px;
    width:100%;
}
.tileComponent2{
    width:40%;
    float:left;
}
.componentHeading{
    font-size: 25px;
    font-weight: bold;
    color:#192f60;
    margin-left: 8%;
    margin-top: 10%;
}
.componentSubHeading{
    font-size: 14px;
    color:gray;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 5%;
}
/* @media screen and (max-width:1600px) {
    body{
        background-color: aqua;
    }
}

@media screen and (max-width:1400px) {
    body{
        background-color: lightblue;
    }
}

@media screen and (max-width:1200px) {
    body{
        background-color:lightgoldenrodyellow;
    }
}

@media screen and (max-width:1000px) {
    body{
        background-color:lightgreen;
    }
    #quickSearchsubHeading{
        color:black;
    }
    .tileComponentHeading{
        width:45%;
    }
    .componentSubHeading{
        color:black;
    }
    .centerlogo > span{
        margin-left: -2%;
        margin-top: 5%;
    }
    #login{
        width: 10%;
    }
    #select{
        width:24%;
    }
    #select1{
        width:30%;
    }
}

@media screen and (max-width:800px) {
    body{
        background-color:lightsalmon;
    }
    #login{
        width: 14%;
    }
    #signup{
        width: 20%;
    }
    #select{
        width:50%;
    }
    #select1{
        width:50%;
        margin-left: 28%;
    }
    .tileComponentHeading{
        width:75%;
    }
    .centerlogo > span{
        margin-left: -2%;
        margin-top: 5%;
    }
}

@media screen and (max-width:600px) {
    body{
        background-color: lightpink;
    }
    #login{
        width: 17%;
    }
    #signup{
        width: 25%;
    }
    .centerlogo{
        margin-top: 5%;
        text-align:center;
        margin-left: 35%;
    }
} */

@media screen and (max-width:1600px) {
    body{
        background-color:rgb(238, 238, 124) ;
    }
}
@media screen and (max-width:1400px) {
    body{
        background-color:lightsalmon ;
    }
}
@media screen and (max-width:1200px) {
    body{
        background-color:skyblue ;
    }
}
@media screen and (max-width:1000px) {
    body{
        background-color:lightslategray ;
    }
    #QuickSearchSubHeading{
        color: white;
    }
    .componentSubHeading{
        color: white;
    }
    .tileComponentHeading{
        width:45%;
    }
    .centerlogo > span{
        margin-left: -6%;
        margin-top: 3%;
    }
    #login{
        font-size: 15px;
        width: 9%;
    }
    #signup{
        font-size: 16px;
        width: 13%;
    }
    #select1{
        width:30%;
    }
    #select{
        width:25%;
    }
}
@media screen and (max-width:800px) {
    body{
        background-color:lightpink ;
    }
    #login{
        /* margin-top: 4%;  */
        font-size: 16px;
        /* font-weight: bold; */
        width: 13%;
    }
    #signup{
        /* margin-top: 4%;  */
        font-size: 16px;
        /* font-weight: bold; */
        width: 17%;
    }
    #select1{
        width:32%;
    }
    #select{
        width:25%;
    }
    .tileComponentHeading{
        width:95%;
    }
}
@media screen and (max-width:600px) {
    body{
        background-color:lightgreen;
    }
    .tileComponentHeading{
        width:85%;
    }
    #login{
        font-size: 15px;
    }
    #signup{
        
        font-size: 15px;
        width: 18%;
    }
}