* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
  }

  nav {
    background: #5e5d5d;
    width: 100%;
  }
  
  .top-social a {
    padding: 6px 20px;
    color: #fff;
    border-right: 1px solid gray;
  }
  
  .top-social {
    padding: 14px 15px;
  }
  
  .top-social a:hover {
    color: #FF7D00;
  }

.nav-container{
  display: flex;
  flex-direction: row-reverse;
}

.mega-menu{
  padding: 15px;
  font-size: larger;
}

.menu{
  padding: 15px;
  font-size: larger;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  padding: 10px 30px;
  position: relative;
}

.menu-bar ul li a {
  font-size: 15px;
  color: white;
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: #FF7D00;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

#dropdown-menu2{
   width: auto;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  width: 500px;
  /* left: 0; */
  right: 0px;
  left: auto;
  top: 100%;
  background-color: rgb(66, 65, 65);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 7px;
}

@media screen and (max-width: 1052px) {
    .toggle {
      display: block;
    }
  }
  
  @media screen and (max-width:500px) {
    
  }
